.footer__img{
    max-width: 135px;
    height: 38px;
    // padding-top: 32px;
}
.footer2{
    background: #1B262F;
    // width: 100%;
    margin-top: 100px;
}
.footer__list{
    display: flex;
    align-items: center;
    padding-right: auto;

}
.footer__item{
    display: flex;
    justify-content: end;
    justify-content: space-between;
    gap: 30px;
    margin-right: auto;

}
@media(max-width:566px){
    .footer__list{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__item{
        margin-right: 0;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .footer__img{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}