.header {
  position: relative;
  height: auto;
  width: 100%;
  padding-bottom: 100px;
}
  .bag-img{
    position: absolute;
    right: 0%;
    opacity: 0.2;
    top: 0%;
    z-index: 1;
    overflow: hidden;
    max-width: 500px;
  }
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header__list {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header__item{
  gap: 30px;
  margin: 20px;
}

.header__btn {
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.115px;
  padding: 16px 26px;
  border-radius: 24px;
  background: #ba4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  transition: all 0.9s;
  &:hover {
    background-color: #e1dedb;
    box-shadow: 1px;
    color: #fbfcfe;
    border: 1px solid red;
  }
}
.header__link {
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
}
.hamburger{
  background-repeat: no-repeat;
  background-image: url('../../img/ham\ burger.png');
  width: 16px;
  height: 16px;
  display: none;
}
@media(max-width:800px){
  .bag-img{
   display: none;
  }
  .bag-img img {
    display: inline-block;
    position: absolute;
    top: 0%;
    z-index: -9999;
    opacity: 0.2;
    left: 0%;
    right: 0;
    background-position: top 0%;
  }
}

@media (max-width: 666px) {
  .header__list {
    display: none;
  }
   .header__wrapper{
    padding-top: 50px;
   }
  .header__btn {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
